<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отели</title>
    <link href="{{ url_for('statics', path='css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>Каталог отелей</h1>
</header>

<main class="container">
    {% for hotel in hotels %}
    <div class="card">
        <img src="{{ url_for('statics', path='images/' + hotel.image_id|string + '.webp') }}"
             alt="Фото отеля" class="hotel-image">
        <div class="info">
            <h2>{{ hotel.name }}</h2>
            <p class="stars">⭐⭐⭐⭐⭐</p>
            <p class="desc">Бесподобное местечко</p>
            <p class="location">{{ hotel.location }}</p>
        </div>
    </div>
    {% endfor %}
</main>

<footer>
    <p>© 2025 Набронировал. Все права защищены.</p>
</footer>
</body>
</html>
